:root {
  --title-size: 1.2rem;
  --title-text: #fff;
  --title-background: darkblue;
  --table-heading: rgb(31, 32, 105);
  --text-color: #fff;
  --tr-odd-color: rgb(93, 60, 214);
  --tr-even-color: rgb(120, 97, 219);
  --available-btn-color: #4bb534;
  --not-available-btn-color: rgb(61, 24, 196);
}

.topic_container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topic_container {
  max-width: 100vw;
  width: 100%;
}

.topic_title {
  padding-block: 0.5em;
  padding-inline: 1em;
  text-align: center;
  background-color: var(--title-background);
  color: var(--title-text);
  font-size: var(--title-size);
}

.topic_table {
  width: 100%;
  margin-block: 0.25em;
  border-style: none;
  overflow-x: scroll;
}

.topic_head {
  background-color: var(--table-heading);
}

.topic_head tr,
.topic_body tr {
  width: 100%;
}

.topic_body tr:nth-child(even) {
  background-color: var(--tr-even-color);
}

.topic_body tr:nth-child(odd) {
  background-color: var(--tr-odd-color);
}

.topic_head th,
.topic_body td {
  text-align: left;
  padding-block: 1em;
  padding-inline: 1em;
  color: var(--text-color);
}

.topic_head th {
  text-align-last: center;
}

.topic_body td:first-child {
  word-break: break-all;
}

.topic_body td:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.4em;
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding-block: 0.35em;
  padding-inline: 0.7em;
  background-color: var(--available-btn-color);
  color: var(--text-color);
  width: 100%;
  text-align: center;
}

.soon,
.soonbtn {
  background-color: var(--not-available-btn-color);
}

.soon {
  padding-block: 0.75em;
  padding-inline: 1em;
  text-align: center;
  color: var(--text-color);
}
